@import "../variable/bgcolor";
@import "../variable/textcolor";

.inner-content {
  background-color: $lightColor;
  padding: 30px;
  margin-bottom: 30px;
}

.form-element {
  label {
    font-size: 16px;
    font-weight: 400;
    color: $darkColor;
    margin-bottom: 8px;

    i {
      cursor: pointer;
      color: $themeColorFive;
    }


  }


  input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid $lightDarkColor;
    border-radius: 5px;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 400;
    transition: all linear .2s;

    &:focus {
      border-color: $themeColorFour;
    }
  }
}

// for error tooltip
.floating-tooltip {
  width: 250px;
  padding: 4px 8px;
  border-radius: 5px;
  display: inline-block;
  left: -22px;
  top: -35px;
  font-size: 14px;
  z-index: 99;

  &::before {
    width: 10px;
    height: 10px;
    background-color: #DC3545;
    position: absolute;
    // top: 50%;
    // left: -4px;
    left: 10%;
    transform: translateX(-50%);
    bottom: -10px;
    transform: translateY(-50%) rotate(45deg);
    content: "";
  }
}

// .tooltip-arrow,
// .tooltip>.tooltip-inner {
//   background-color: red;
// }

.form-element {
  .image-box {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    img {
      border-radius: 50%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .overlay {
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 50%;
      transition: all linear .2s;
      opacity: 0;

      .close {
        color: $lightColor;
        font-size: 24px;
        cursor: pointer;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
      }
    }

    &:hover {
      .overlay {
        opacity: 1;
      }
    }
  }

  .upload-box {
    margin-left: 24px;
    flex-grow: 1;

    label {
      border: 1px solid $lightDarkColor;
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      color: $lightDarkColor;
      text-align: center;
      height: 40px;
      border-radius: 5px;
      line-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: $lightColor;
      // box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.1);

      i {
        font-size: 24px;
        line-height: 1;
        margin-right: 10px;
      }
    }
  }
}

.file-upload {
  width: 160px;
  background-color: #f1f1f1;
  border: 1px solid $lightDarkColor;
  border-radius: 5px;
  padding: 16px;

  .image {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  .upload-box {
    label {
      text-align: center;
      cursor: pointer;
      width: 100%;
      display: block;
      background-color: $themeColorFive;
      color: $lightColor;
      padding: 7px;
      font-size: 16px;
      font-weight: 500;
      border-radius: 5px;
    }
  }
}