@import "../variable/bgcolor";
@import "../variable/textcolor";

.top-header {
  background-color: $topbarBgColor;
  z-index: 99;
  border-bottom: 1px solid $commonBorderColor;
  width: 100%;
  position: relative;

  .topbar {
    padding: 0 30px;
  }

  .control-bar {
    i {
      color: $topbarWhiteColor;
      font-size: 18px;
      cursor: pointer;
      padding: 0 21px;
      padding-left: 30px;
      line-height: 60px;
    }
  }

  .form {
    input {
      border: none;
      font-size: 14px;
      height: 34px;
      color: $topbarLightDarkColor;
      padding-left: 20px;
      padding-right: 40px;
      box-shadow: none;
      border-radius: 30px !important;
      width: 210px;
      margin: 13px 10px 0;
    }

    .search {
      right: 24px;
      top: 20px;
      cursor: pointer;
      z-index: 99;
      color: $topbarGrayColor;
    }
  }

  .expand {
    i {
      cursor: pointer;
      padding-left: 6px;
      padding-right: 14px;
      line-height: 60px;
      color: $topbarWhiteColor;
      font-size: 16px;
    }
  }

  .right-info {
    height: 60px;

    .notification {
      cursor: pointer;
    }

    .bell {
      color: $topbarWhiteColor;
      font-size: 16px;
      position: relative;
      padding: 10px;
    }

    sup {
      background: linear-gradient(to right, #fe5d70, #fe909d);
      width: 17px !important;
      height: 17px !important;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      line-height: 17px;
      color: $topbarWhiteColor;
      font-weight: 600;
      font-size: 12px;
      top: -10px;
      right: 19px;
    }

    .messages {
      cursor: pointer;
      margin-right: 10px;

      sup {
        background: linear-gradient(to right, #0ac282, #0df3a3);
      }
    }
  }

  .profile {
    ul {
      li {
        display: inline-block;
        color: $topbarWhiteColor;
        font-weight: 400;

        i {
          font-size: 12px;
        }

        img {
          width: 30px;
          border-radius: 4px;
          margin-right: 5px;
        }
      }

      cursor: pointer;
    }

    height: 60px;
    line-height: 60px;
    position: relative;
  }

  .dropdown-menu {
    width: 239px;
    position: absolute;
    border-radius: 5px;
    padding: 10px 0;
    box-shadow: 0 2px 30px 6px #0000001a;
    border: none;
    transform: translate(1px, 80px) !important;
    margin-top: 30px !important;
    opacity: 0 !important;
    transition: all linear .2s !important;
    cursor: unset !important;

    &::after {
      width: 20px;
      height: 20px;
      background-color: $lightColor;
      position: absolute;
      top: -8px;
      right: 30px;
      transform: rotate(45deg);
      content: "";
      border-radius: 3px;
      clip-path: polygon(0 0, 100% 0, 100% 43%, 0% 100%);
    }

    li {
      display: block !important;
      line-height: 24px;

      a {
        line-height: 40px;
        width: 100%;
        display: block;
        padding: 0 25px;
        color: $lightDarkColor;
        font-weight: 400;
        font-size: 16px;

        i {
          font-size: 16px;
          width: 30px;
        }

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }

  .messages {
    .dropdown-menu {
      transform: translate(3px, 68px) !important;
      width: 340px;
      cursor: unset !important;
      padding-bottom: 0 !important;

      .top {
        border-bottom: 1px solid #e3e3e3;
        padding: 10px 20px;

        h4 {
          font-size: 14px;
          text-transform: uppercase;
          color: #01B3B7;
        }

        span {
          font-size: 14px;
          color: $topbarGrayColor;
          transition: all linear .2s;

          &:hover {
            font-size: 14px;
            color: #666;
          }
        }
      }

      .middle {
        height: 359px;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #01B3B7 transparent;

        &::-webkit-scrollbar {
          width: 8px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #01B3B7;
        }

        .img {
          width: 70px;

          img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
          }
        }

        .text {
          width: 270px;
        }

        h5 {
          font-size: 14px;
          color: #404E67;
          position: relative;

          span {
            font-size: 11px;
            color: $topbarGrayColor;
            position: absolute;
            top: 2px;
            right: 0;
          }
        }

        .msg-box {
          padding: 10px 20px;

          &:hover {
            background-color: #f1f1f1;
          }
        }

        p {
          font-size: 12px;
          color: $topbarGrayColor;
          padding-top: 8px;
        }
      }

      .btm {
        width: 100%;
        border-top: 1px solid #e3e3e3;

        a {
          font-size: 14px;
          color: $topbarGrayColor;
          transition: all linear .2s;
          padding: 12px 0;
          display: block;
          width: 100%;

          i {
            font-size: 12px;
            padding-left: 3px;
          }

          &:hover {
            color: #666;
          }
        }
      }
    }
  }

  .dropdown-toggle {
    &::after {
      display: none;
    }
  }

  .dropdown-menu.show {
    margin-top: -79px !important;
    opacity: 1 !important;
  }

  .notification {
    .dropdown-menu {
      transform: translate(3px, 68px) !important;
      width: 340px;
      cursor: unset !important;
      padding-bottom: 0 !important;

      .top {
        border-bottom: 1px solid #e3e3e3;
        padding: 10px 20px;

        h4 {
          font-size: 14px;
          text-transform: uppercase;
          color: #01B3B7;
        }

        span {
          font-size: 14px;
          color: $topbarGrayColor;
          transition: all linear .2s;

          &:hover {
            font-size: 14px;
            color: #666;
          }
        }
      }

      .middle {
        height: 359px;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #01B3B7 transparent;

        &::-webkit-scrollbar {
          width: 8px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #01B3B7;
        }

        .icon {
          width: 65px;

          i {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #0ACF97;
            font-size: 14px;
            color: $topbarWhiteColor;
            text-align: center;
            line-height: 40px;
          }
        }

        .icon.icon-2 {
          i {
            background-color: #4EB7EB;
          }
        }

        .icon.icon-3 {
          i {
            background-color: #F1556C;
          }
        }

        .icon.icon-4 {
          i {
            background-color: #F9BC0B;
          }
        }

        .icon.icon-5 {
          i {
            background-color: #777EDD;
          }
        }

        .icon.icon-6 {
          i {
            background-color: #02C0CE;
          }
        }

        .text {
          width: 270px;
        }

        .msg-box {
          padding: 10px 20px;

          &:hover {
            background-color: #f1f1f1;
          }
        }

        p {
          font-size: 14px;
          color: #666;
          line-height: 18px;
        }

        span {
          color: $topbarGrayColor;
          font-size: 11px;
        }
      }

      .btm {
        width: 100%;
        border-top: 1px solid #e3e3e3;

        a {
          font-size: 14px;
          color: $topbarGrayColor;
          transition: all linear .2s;
          padding: 12px 0;
          display: block;
          width: 100%;

          i {
            font-size: 12px;
            padding-left: 3px;
          }

          &:hover {
            color: #666;
          }
        }
      }
    }
  }
}

.fixed {
  position: fixed;
  padding-left: 250px;
  top: 0;
  left: 0;
  width: 100%;
}

.collapsed-menu {
  .fixed {
    padding-left: 70px;
  }
}

.expand {
  display: none;
}