// login page bg color
// $loginBg: linear-gradient(to bottom, rgba(97 218 255), rgba(101 107 255));

// topbar bg color
$topbarBgColor: #00BCD4;
// $topbarBgColor: #fff;

//sidebar bgcolor 
$sidebarBgColor: #2f3a4e;
// $sidebarBgColor: #fff;

// bread crumb bg color
$breadcrumbBgColor: #fff;

// dashboard content bg color
$dashboardBgColor: #F6F7FB