// topbar color
$topbarWhiteColor: #fff;
$topbarGrayColor: #999;
$topbarLightDarkColor: #404e67;

// breadcrumb color
$breadcrumbDarkColor: #6a7485;
$breadcrumbLightColor: #b9b9b9;


// sidebar color
$sidebarTitleDarkColor: #999;
$sidebarTextColor: #dcdcdc;
$sidebarTextHoverColor: #fff;
$sidebarThemeTextColor: #fe8a7d;
$sidebarMenuTypeColor:#fff;
$sidebarDevColor:#dcdcdc;

// dashboard content color
$dashWhiteTextColor: #fff;
$dashDarkTextColor: #404E67;
$dashLightDarkTextColor: #535F76;
$dashGrayTextColor: #555;

// global color
$commonBorderColor: #e3e3e3;
$lightColor: #fff;
$darkColor: #404E67;
$lightDarkColor: #53627d;
$graycolor:#999;
$themeColorOne: #F9BC0B;
$themeColorTwo: #0ACF97;
$themeColorThree: #F1556C;
$themeColorFour: #00BCD4;
$themeColorFive: #777EDD;
$themeColorSix: #02C0CE;
$success:#32c861;
$warning: #ffa91c;
$danger:#d9534f;



