@import "../component/topbar";
@import "../component/navbar";
@import "../component/breadcrumb";
@import "../component/sidebar";
@import "../component/dashboard-content";
@import "../component/forms";
@import "../component/list-page";
@import "../component/gallery-list";
@import "../component/change-password";
@import "../component/view-page";
@import "../component/404";